<h1>Twitter Poem Generator</h1>
<p>You know when you're in the mood for a haiku but can't come up with the words yourself? Let twitter help!</p>

<%= form_tag("/poems", method: "post") do %>
  <%= label_tag(:query, "Enter a word for the topic of the poem:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Create your poem") %>
<% end %>
<p>(If you need ideas, the following are popular topics trending on twitter now...)</p>
<ul>
  <% @trending_topics.each do |topic| %>
  <li><%= topic %></li>
  <% end %>
</ul>

